/* width and height of the body element will include 
the padding and border sizes, and any content inside
 the body will be contained within this space. 
 
 * allows you to set a global style rule that affects all elements, 
 
 */
*body {
    box-sizing: border-box;
}

body {
    margin-left: 10%;
    margin-right: 10%;
}

.hd {
    text-align: center;
    padding: 10px;
    margin-left: 10%;
    margin-right: 5%;
    color: rgb(26, 125, 174);
    font-weight: bold;
    font-size: 40px;
}

.home {
    border: 1px black solid;
    border-radius: 5px;
    background-color: yellow;
    margin-left: -10%;
    color: blue;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    margin-bottom: 7px;
    height: 40px;
    padding: auto;
    float: left;
    clear: both;
    width: 160px;
}

.menu {
    border: 1px black solid;
    border-radius: 10px;
    background-color: white;
    color: green;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    margin: auto;
    padding: 5px;
    margin-top: 6px;
}

.tab {
    border: 1px black solid;
    border-radius: 15px;
    background-color: bisque;
    margin-left: 20%;
    width: 800px;
    color: black;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    font-size: 15px;
    margin-bottom: 10px;
    padding: 10px;
    margin-top: 10px;
}